In [5]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [6]:
# Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. Remember
#that there's a different cost for guests and members! */

In [7]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT name, revenue from(
        SELECT f.name, SUM(CASE
        WHEN memid = 0 then slots * f.guestcost
        ELSE slots*f.membercost
        END) AS revenue
        FROM Bookings AS b
        INNER JOIN Facilities AS f
        ON b.facid = f.facid
        GROUP BY f.name
        ) AS agg
        WHERE revenue < 1000
        ORDER BY revenue;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [11]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        select m.surname, m.firstname, m.recommendedby AS recomender_id, r.surname AS recomender_surname, r.firstname AS recomender_firstname
from Members AS m
left join Members AS r ON m.recommendedby = r.memid
where m.recommendedby != 0
order by r.surname, r.firstname;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('GUEST', 'GUEST', '', None, None)
('Smith', 'Darren', '', None, None)
('Smith', 'Tracy', '', None, None)
('Rownam', 'Tim', '', None, None)
('Tracy', 'Burton', '', None, None)
('Farrell', 'Jemima', '', None, None)
('Farrell', 'David', '', None, None)
('Tupperware', 'Hyacinth', '', None, None)
('Smith', 'Darren', '', None, None)
('Sarwin', 'Ramnaresh', '15', 'Bader', 'Florence')
('Coplin', 'Joan', '16', 'Baker', 'Timothy')
('Genting', 'Matthew', '5', 'Butters', 'Gerald')
('Baker', 'Timothy', '13', 'Farrell', 'Jemima')
('Pinker', 'David', '13', 'Farrell', 'Jemima')
('Rumney', 'Henrietta', '20', 'Genting', 'Matthew')
('Jones', 'Douglas', '11', 'Jones', 'David')
('Dare', 'Nancy', '4', 'Joplette', 'Janice')
('Jones', 'David', '4', 'Joplette', 'Janice')
('Hunt', 'John', '30', 'Purview', 'Millicent')
('Boothe', 'Tim', '3', 'Rownam', 'Tim')
('Joplette', 'Janice', '1', 'Smith', 'Darren')
('Butters', 'Gerald', '1', 'Smith', 'Darren')
('Owen', 'Charles', '1', 'Smith', 'Darren')
('Smith', 'Jack', '1', 'Smith', 'Darren')
('Mackenzie', 'Anna', '1', 'Smith', 'Darren')
('Worthington-Smyth', 'Henry', '2', 'Smith', 'Tracy')
('Purview', 'Millicent', '2', 'Smith', 'Tracy')
('Crumpet', 'Erica', '2', 'Smith', 'Tracy')
('Baker', 'Anne', '9', 'Stibbons', 'Ponder')
('Bader', 'Florence', '9', 'Stibbons', 'Ponder')
('Stibbons', 'Ponder', '6', 'Tracy', 'Burton')

Q12: Find the facilities with their usage by member, but not guests

Please check this result too.

In [15]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT b.facid, f.name, SUM(b.slots) AS total_slots
        FROM Bookings AS b
        INNER JOIN Facilities AS f
        ON b.facid = f.facid
        GROUP BY b.facid
        ORDER BY b.facid;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 1320)
(1, 'Tennis Court 2', 1278)
(2, 'Badminton Court', 1209)
(3, 'Table Tennis', 830)
(4, 'Massage Room 1', 1404)
(5, 'Massage Room 2', 228)
(6, 'Squash Court', 1104)
(7, 'Snooker Table', 908)
(8, 'Pool Table', 910)

Q13: Find the facilities usage by month, but not guests

In [17]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    #used date_trunc too!
    query1 = """
      SELECT F.name AS Facility, SUM(B.slots) as Usage, 
strftime('%Y-%m', B.starttime) as month

 FROM Bookings AS B
INNER JOIN Facilities AS F ON B.facid = F.facid
INNER JOIN Members as M ON B.memid=M.memid
WHERE M.memid>'0'
GROUP BY Facility, month
ORDER BY usage DESC
      """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 507, '2012-09')
('Pool Table', 443, '2012-09')
('Tennis Court 1', 417, '2012-09')
('Badminton Court', 414, '2012-08')
('Tennis Court 2', 414, '2012-09')
('Snooker Table', 404, '2012-09')
('Massage Room 1', 402, '2012-09')
('Table Tennis', 400, '2012-09')
('Tennis Court 2', 345, '2012-08')
('Tennis Court 1', 339, '2012-08')
('Massage Room 1', 316, '2012-08')
('Snooker Table', 316, '2012-08')
('Pool Table', 303, '2012-08')
('Table Tennis', 296, '2012-08')
('Tennis Court 1', 201, '2012-07')
('Squash Court', 184, '2012-08')
('Squash Court', 184, '2012-09')
('Massage Room 1', 166, '2012-07')
('Badminton Court', 165, '2012-07')
('Snooker Table', 140, '2012-07')
('Tennis Court 2', 123, '2012-07')
('Pool Table', 110, '2012-07')
('Table Tennis', 98, '2012-07')
('Squash Court', 50, '2012-07')
('Massage Room 2', 28, '2012-09')
('Massage Room 2', 18, '2012-08')
('Massage Room 2', 8, '2012-07')